@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

@mixin fontAdd() {
  font-family: 'Noto Serif KR', serif, cursive;
}

$card-width: 375px;
$card-height: 250px;
$card-width-mobile: 270px;
$card-height-mobile: 180px;

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #09122b;

  form {
    box-sizing: border-box;
    width: $card-width;
    height: $card-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #fff, #f6f1f4);
    z-index: 1000;
    box-shadow: 0px 10px 20px 0px rgba(120, 120, 120, 0.8);
    -webkit-box-shadow: 1px 10px 20px 0px rgba(120, 120, 120, 0.8);
    -moz-box-shadow: 0px 10px 20px 0px rgba(120, 120, 120, 0.8);
    @include fontAdd();

    @media screen and (max-width: 768px) {
      width: $card-width-mobile;
      height: $card-height-mobile;
      font-size: 0.8rem;
    }

    .letterTo {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      padding-top: 30px;

      div {
        display: flex;
        align-items: center;

        input {
          max-width: 70%;
          padding-left: 15px;
          border: solid #ccc;
          outline: none;
          height: 2rem;
        }

        p {
          margin-left: 10px;
        }
      }
    }

    .formTxt {
      margin-top: 0;
      padding-top: 0;
      text-align: center;
    }

    .tip {
      text-align: center;
      color: #164c03;
      font-size: 0.7rem;

      @media screen and (max-width: 768px) {
        font-size: 0.55rem;
      }
    }

    button {
      cursor: pointer;
      background-color: #cbe1f5a7;
      padding: 10px;
    }
  }

  header {
    display: flex;
    position: absolute;
    padding: 1rem;
    width: 250px;
    height: 1.2rem;
    align-items: center;
    z-index: 1000;

    .bgm_btn {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 65px;
      background-color: transparent;
      color: #ccc;
      border: solid #ccc;
      border-radius: 0.6rem;

      .material-symbols-outlined {
        width: fit-content;
        font-size: 0.9rem;
        margin: 0;
        margin-right: 0.2rem;
      }

      .bgm_txt {
        margin-top: 0.1rem;
      }
    }

    .copyright {
      opacity: 0;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      width: 150px;
      height: 1rem;
      font-size: 0.8rem;
      color: #cccccc;
      overflow: hidden;
      white-space: nowrap;
      margin: 0px 10px;
      transition: 1s;
    }

    .cr_txt {
      animation: flow_text 15s linear infinite;
    }

    @keyframes flow_text {
      0% {
        transform: translateX(0px);
      }
      100% {
        transform: translateX(-130px);
      }
    }

    #player {
      display: none;
    }
  }

  section {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 800px;

    .front {
      position: relative;
      width: $card-width;
      height: $card-height;
      // transform: rotateX(-15deg);
      transform: rotateX(-90deg);
      transform-origin: bottom center;
      transform-style: preserve-3d;

      @media screen and (max-width: 768px) {
        width: $card-width-mobile;
        height: $card-height-mobile;
      }

      .background {
        position: absolute;
        width: inherit;
        height: inherit;
        background: url(../images/background.png) center top / cover no-repeat;
      }

      .cloud1 {
        position: absolute;
        width: inherit;
        height: inherit;
        background: url(../images/cloud1.png) center top / contain no-repeat;
        transform: translateZ(30px);
      }

      .mountain1 {
        position: absolute;
        width: inherit;
        height: inherit;
        background: url(../images/mountain1.png) center bottom / contain
          no-repeat;
        transform: translateZ(30px);
      }

      .cloud2 {
        position: absolute;
        width: inherit;
        height: inherit;
        background: url(../images/cloud2.png) center top / contain no-repeat;
        transform: translateZ(50px);
      }

      .mountain2 {
        position: absolute;
        width: inherit;
        height: inherit;
        background: url(../images/mountain2.png) center bottom / contain
          no-repeat;
        transform: translateZ(50px);
      }

      .trees1 {
        position: absolute;
        right: 0;
        width: inherit;
        height: inherit;
        background: url(../images/trees1.png) center bottom / contain no-repeat;
        transform: translateZ(70px);
      }

      .trees2 {
        position: absolute;
        width: inherit;
        height: inherit;
        background: url(../images/trees2.png) center bottom / contain no-repeat;
        transform: translateZ(90px);
      }

      .snow1 {
        position: absolute;
        top: 0;
        width: inherit;
        height: inherit;
        background: url(../images/snow.png) center center / contain no-repeat;
        transform: translateZ(75px);
      }

      .trees3 {
        position: absolute;
        top: 0;
        width: inherit;
        height: inherit;
        background: url(../images/trees3-1.png) center bottom / contain
          no-repeat;
        transform: translateZ(100px);
      }

      .santa {
        position: absolute;
        top: 0;
        left: 50%;
        width: 40%;
        height: 40%;
        background: url(../images/santa.png) center center / contain no-repeat;
        transform: translate(-70%, 50%) translateZ(80px);
      }

      .snow2 {
        position: absolute;
        top: 0;
        width: inherit;
        height: inherit;
        background: url(../images/snow.gif) center center / contain no-repeat;
        transform: translateZ(110px);
      }
    }

    .back {
      position: relative;
      width: $card-width;
      height: $card-height + 50px;
      background: linear-gradient(180deg, #fff, #f6f1f4);

      // transform: rotateX(75deg);
      transform: rotateX(90deg);
      transform-origin: top center;

      transform-style: preserve-3d;
      perspective: 1000px;
      @include fontAdd();

      @media screen and (max-width: 768px) {
        width: $card-width-mobile;
        height: $card-height-mobile + 40px;
      }

      .txtmsg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 80%;
        top: 65%;
        left: 50%;
        transform: translate3d(-50%, -50%, 2px);
        text-align: center;
        font-size: 0.7rem;

        @media screen and (max-width: 768px) {
          margin-top: 0.5rem;
          font-size: 0.5rem;
        }

        span {
          opacity: 0;
          margin: 0.2rem 0;
        }
      }

      .msg {
        opacity: 0;
        position: absolute;
        margin-top: 3rem;
        background: url(../images/msg.png) center center / 100% no-repeat;
        width: 50%;
        height: 50%;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 2px);
        filter: drop-shadow(2px 2px 3px #999);

        @media screen and (max-width: 768px) {
          width: 45%;
          height: 45%;
        }
      }

      h3 {
        opacity: 0;
        position: absolute;
        text-align: right;
        right: 0;
        bottom: 0;
        font-size: 0.5rem;
        font-weight: 600;
        transform-origin: bottom;
        transform: translate3d(-20px, -5px, 2px);
      }
    }
  }
}
