@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #09122b;
}
body form {
  box-sizing: border-box;
  width: 375px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #fff, #f6f1f4);
  z-index: 1000;
  box-shadow: 0px 10px 20px 0px rgba(120, 120, 120, 0.8);
  -webkit-box-shadow: 1px 10px 20px 0px rgba(120, 120, 120, 0.8);
  -moz-box-shadow: 0px 10px 20px 0px rgba(120, 120, 120, 0.8);
  font-family: "Noto Serif KR", serif, cursive;
}
@media screen and (max-width: 768px) {
  body form {
    width: 270px;
    height: 180px;
    font-size: 0.8rem;
  }
}
body form .letterTo {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 30px;
}
body form .letterTo div {
  display: flex;
  align-items: center;
}
body form .letterTo div input {
  padding-left: 15px;
  border: solid #ccc;
  outline: none;
  height: 2rem;
}
body form .letterTo div p {
  margin-left: 10px;
}
body form .formTxt {
  margin-top: 0;
  padding-top: 0;
  text-align: center;
}
body form .tip {
  text-align: center;
  color: #164c03;
  font-size: 0.7rem;
}
@media screen and (max-width: 768px) {
  body form .tip {
    font-size: 0.55rem;
  }
}
body form button {
  cursor: pointer;
  background-color: rgba(203, 225, 245, 0.6549019608);
  padding: 10px;
}
body header {
  display: flex;
  position: absolute;
  padding: 1rem;
  width: 250px;
  height: 1.2rem;
  align-items: center;
  z-index: 1000;
}
body header .bgm_btn {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  background-color: transparent;
  color: #ccc;
  border: solid #ccc;
  border-radius: 0.6rem;
}
body header .bgm_btn .material-symbols-outlined {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  margin: 0;
  margin-right: 0.2rem;
}
body header .copyright {
  opacity: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 150px;
  height: 1rem;
  font-size: 0.8rem;
  color: #cccccc;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px 10px;
  transition: 1s;
}
body header .cr_txt {
  animation: flow_text 15s linear infinite;
}
@keyframes flow_text {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-130px);
  }
}
body header #player {
  display: none;
}
body section {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 800px;
}
body section .front {
  position: relative;
  width: 375px;
  height: 250px;
  transform: rotateX(-90deg);
  transform-origin: bottom center;
  transform-style: preserve-3d;
}
@media screen and (max-width: 768px) {
  body section .front {
    width: 270px;
    height: 180px;
  }
}
body section .front .background {
  position: absolute;
  width: inherit;
  height: inherit;
  background: url(../images/background.png) center top/cover no-repeat;
}
body section .front .cloud1 {
  position: absolute;
  width: inherit;
  height: inherit;
  background: url(../images/cloud1.png) center top/contain no-repeat;
  transform: translateZ(30px);
}
body section .front .mountain1 {
  position: absolute;
  width: inherit;
  height: inherit;
  background: url(../images/mountain1.png) center bottom/contain no-repeat;
  transform: translateZ(30px);
}
body section .front .cloud2 {
  position: absolute;
  width: inherit;
  height: inherit;
  background: url(../images/cloud2.png) center top/contain no-repeat;
  transform: translateZ(50px);
}
body section .front .mountain2 {
  position: absolute;
  width: inherit;
  height: inherit;
  background: url(../images/mountain2.png) center bottom/contain no-repeat;
  transform: translateZ(50px);
}
body section .front .trees1 {
  position: absolute;
  right: 0;
  width: inherit;
  height: inherit;
  background: url(../images/trees1.png) center bottom/contain no-repeat;
  transform: translateZ(70px);
}
body section .front .trees2 {
  position: absolute;
  width: inherit;
  height: inherit;
  background: url(../images/trees2.png) center bottom/contain no-repeat;
  transform: translateZ(90px);
}
body section .front .snow1 {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background: url(../images/snow.png) center center/contain no-repeat;
  transform: translateZ(75px);
}
body section .front .trees3 {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background: url(../images/trees3-1.png) center bottom/contain no-repeat;
  transform: translateZ(100px);
}
body section .front .santa {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40%;
  height: 40%;
  background: url(../images/santa.png) center center/contain no-repeat;
  transform: translate(-70%, 50%) translateZ(80px);
}
body section .front .snow2 {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  background: url(../images/snow.gif) center center/contain no-repeat;
  transform: translateZ(110px);
}
body section .back {
  position: relative;
  width: 375px;
  height: 300px;
  background: linear-gradient(180deg, #fff, #f6f1f4);
  transform: rotateX(90deg);
  transform-origin: top center;
  transform-style: preserve-3d;
  perspective: 1000px;
  font-family: "Noto Serif KR", serif, cursive;
}
@media screen and (max-width: 768px) {
  body section .back {
    width: 270px;
    height: 220px;
  }
}
body section .back .txtmsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 80%;
  top: 65%;
  left: 50%;
  transform: translate3d(-50%, -50%, 2px);
  text-align: center;
  font-size: 0.7rem;
}
@media screen and (max-width: 768px) {
  body section .back .txtmsg {
    margin-top: 0.5rem;
    font-size: 0.5rem;
  }
}
body section .back .txtmsg span {
  opacity: 0;
  margin: 0.2rem 0;
}
body section .back .msg {
  opacity: 0;
  position: absolute;
  margin-top: 3rem;
  background: url(../images/msg.png) center center/100% no-repeat;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 2px);
  filter: drop-shadow(2px 2px 3px #999);
}
@media screen and (max-width: 768px) {
  body section .back .msg {
    width: 45%;
    height: 45%;
  }
}
body section .back h3 {
  opacity: 0;
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 0;
  font-size: 0.5rem;
  font-weight: 600;
  transform-origin: bottom;
  transform: translate3d(-20px, -5px, 2px);
}